<!DOCTYPE html>
<html>
  <head>
    <title>KuraruCaffe</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div data-barba="wrapper">
      <div data-barba="container">
        <%= yield %>
      </div>
    </div>

    <div class="mask"></div>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/js_settings' %>
  </body>
</html>
